* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
}

#main-section {
  height: 100%;
  width: 100%;
  background-color: blue;
  overflow: hidden;
  /* doing this made the scroll disappear */
}

#main-section video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

#main-section h1{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    font-size: 80px;
    color: red;
}

#second-section{
    height: 100%;
    width: 100%;
    background-color: green;
}